{% extends 'teachers/base.html' %}

{% load crispy_forms_tags %}
{% load bootstrap %}

{% block content %}
<br><br><br><br>
<div class="row">
  <div class="d-flex justify-content-center">
  <div class="col-lg-5">
<div class="card ms-5">
  <div class="card-header" style="float: right;">
   Assigned Subject(s) To You : {{sub.subject}}
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Hey, there's a subject assigned to you. Take it.  Or you can choose a subject.</p>
      <form method="post" novalidate>
        {% csrf_token %}
       
         {{ form| bootstrap }}
         <div class="  col-13 mx-auto text-center">
        <button type="submit" class="btn btn-success rounded-pill mt-3">Select</button>
         </div>
      </form>
  </div>
</div>
  </div>
</div>
</div>
<br>
{% endblock %}
