{% extends 'teachers/base.html' %}
{% load bootstrap %}

{% block content %}
<br><br><br><br>

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="container">
<div class="card">
    <div class="card-header">
     <a  style="float: right;"> Assigned Subject(s) : {{ subject }}</a> 
    </div>
    <div class="card-body">
      <h5 class="card-title">Hello Teacher</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
       
        
      <br><br><br><br><br>
      <a href="{% url 'teachers:add_subject' %}" class="btn btn-primary">Add Subject</a>
      <a href="{% url 'teachers:choose_subject' %}" class="btn btn-primary">Assigned Subject(s)</a>
      
    </div>
  </div>
</div>
    </div>
</div>

{% endblock %}
